@charset "UTF-8";

section#corpo p {
    text-align: center;
    max-width: 400px;
    margin: 20px auto 0 auto;
}

ul#album-fotos {
    max-width: 700px;
    overflow: hidden;
    margin: 0 auto;
    padding: 50px;
}

ul#album-fotos li{
    float: left;
    margin: 10px;
    width: 200px;
    height: 200px;
    border: 5px solid white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .4);
    -webkit-transition: all 0.2s ease-in;
}

ul#album-fotos li span {
    opacity: 0;
    font-size: 9pt;
    background-color: rgba(0, 0, 0, .4);
    padding: 5px;
    color: white;
    line-height: 371px;
    text-shadow: 1px 1px 1px black;
}

ul#album-fotos li:hover span{
    opacity: 1;
}

ul#album-fotos li:hover {
    -webkit-transform: scale(1.5);
}




ul#album-fotos li#foto01 {
    background: url('../_imagens/torresmo.jpg');
    background-size: 400px 400px;
    background-position: 50% 50%;
}
ul#album-fotos li#foto01:hover {
    background-size: 200px 200px;
    background-position: 0px 0px;
}



ul#album-fotos li#foto02 {
    background: url('../_imagens/cacildis.jpg');
    background-size: 400px 400px;
    background-position: 50% 50%;
}
ul#album-fotos li#foto02:hover {
    background-size: 200px 200px;
    background-position: 0px 0px;
}




ul#album-fotos li#foto03 {
    background: url('../_imagens/caldo-de-camarao.jpg');
    background-size: 400px 400px;
    background-position: 50% 50%;
}
ul#album-fotos li#foto03:hover {
    background-size: 200px 200px;
    background-position: 0px 0px;
}




ul#album-fotos li#foto04 {
    background: url('../_imagens/Batata-frita.jpg');
    background-size: 400px 400px;
    background-position: 50% 50%;
}
ul#album-fotos li#foto04:hover {
    background-size: 200px 200px;
    background-position: 0px 0px;
}




ul#album-fotos li#foto05 {
    background: url('../_imagens/galinha-caipira.jpg');
    background-size: 400px 400px;
    background-position: 50% 50%;
}
ul#album-fotos li#foto05:hover {
    background-size: 200px 200px;
    background-position: 0px 0px;
}





ul#album-fotos li#foto06 {
    background: url('../_imagens/caipirinha.jpeg');
    background-size: 400px 400px;
    background-position: 50% 50%;
}
ul#album-fotos li#foto06:hover {
    background-size: 200px 200px;
    background-position: 0px 0px;
}

@media (max-width: 500px) {
    ul#album-fotos li{
        float: center;
        margin: 10px auto;
    }
    ul {
        margin: 10px auto;
        padding: none;
    }
}