@charset "UTF-8";

* {
    margin: 0 0 10px 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    font-family: Georgia, serif;
}

header {
    background: url('../imagens/fundo2.jpg') no-repeat center center;
    background-size: cover;
    border: 1px solid #000000;
}

.menu {
    background-color: black;
    top: -10px;
    position: relative;
    top: -10px;
}

.menu ul{
    display: flex;
    padding-left: none;
    padding-bottom: 0;
    margin: 5px auto;

}

.menu ul li {
    flex: 1;

 
 
    text-align: center;
    margin: 10px auto 15px auto;
}

.menu ul li a {
    position: relative;
    font-style: none;
    text-decoration: none;
    color: white;
    font-size: 20pt;
    text-shadow: 1px 1px 4px black;
   float: center;
   text-shadow: 1px 1px 4px black;
}

.menu ul li a:hover {
    text-decoration: underline;
    color: rgb(221, 221, 221);
}

header::after, header::before {
    content: '';
    display: table;
    clear: both;
} 

/**INTRO**/

.intro {
    margin: 200px auto 50px auto;

}

.intro h1 {
    color: white;
    font-size: 35pt;
    font-weight: bold;
    text-align: center; 
    text-shadow: 1px 1px 4px black;
}

.intro p {
    color: white;
    font-size: 25pt;
    font-weight: bold;
    text-align: center; 
    text-shadow: 1px 1px 4px black;
}


/**CORPO**/

.corpo {
    display: flex;
    flex-wrap: wrap;
}

.corpo > div {
    flex: 1;
    margin-left: 20px;
}

.net, .filmes {
    margin-top: 30px;
}

.filmes img {
    max-width: 500px;
    margin: 20px auto;
}

.net img {
    max-width: 550px;
    margin: 20px auto;
}

.corpo div h3 a{
    background: red;
    color: white;
    position: relative;
    width: 100px;
    margin: 0 0 0 10px;
    top: -50px;
    padding: 5px;
    font-size: 20pt;
    font-family: Arial;
    text-decoration: none;
}

.corpo div h3 a:hover {
    text-decoration: underline;
    cursor: pointer;
    background-color: rgb(221, 3, 3);
}




/**FOOTER**/

footer p, footer p a {
    text-decoration: none;
    color: rgb(224, 222, 222);
    text-align: center;
    font-style: italic;
}

footer p a {
    color: red;
}

footer p a:hover {
    text-decoration: underline;
    color: rgb(221, 3, 3);
}


/**Responsivo**/

@media (max-width: 600px) {
    .menu ul {
        position: relative;
        left: -30px;
        padding: none;
    }
    .menu ul li a {
        margin-left: none;
        margin-right: 10px;
        text-align: left;
        max-width: 100px;
        padding: 0;
       
    }

    .filmes img, .net img {
        max-width: 400px;
    }




    .compras {
        width: 76px;
        height: 70px;
    }
    .compras img {
        max-width: 60px;
        margin: 15px 5px 2px auto;
        display: block;
        float: center;
    }
}